.main{
	display: flex;
	flex-direction: column;
	background-color: gray;
	min-height: 500px;
	min-width: 600px;
	padding: 0px 96px 30vh;
}
.data-block{
	background-color: pink;
	min-height:100px;
	min-width:600px;
	margin: 10px;

}
.handle{
	position: absolute;
	height: 150px;
	width: 150px;
	background-color: red;
	top: 20px;
	left: 30px;
	display: flex;
	flex-direction: column;
	z-index: 1000;
}
.handlemenu{
	height: 50PX;
	width: 80%;
	background-color: white;
	margin: 10px;
	font-size:1.5rem; 



}