.main{
	display: flex;
	flex-direction: column;
	background-color: white;
	color: rgb(55, 53, 47);
	min-height: 500px;
	min-width: 600px;
	padding: 0px 96px 30vh;

}
[contentEditable=true]:empty:before{
        content:attr(placeholder);
        -webkit-text-fill-color: rgba(55, 53, 47, 0.15);
    }

[contenteditable] {
  outline: 0px solid transparent;
}

.data-block{
	background-color: pink;
	
	
	min-width:600px;
	margin-top: 0.5rem;
	white-space: pre-wrap;
    word-break: break-word;
    cursor:text;

}
.handle{
	position: absolute;
	height: 150px;
	width: 150px;
	background-color: white;
	border: 1px solid black;
	top: 20px;
	left: 20px;
	display: flex;
	flex-direction: column;
	z-index: 1000;
}
.handlemenu{
	height: 50PX;
	width: 80%;
	margin: 10px;
	font-size:1rem; 
}
.Heading{
	background-color: white;
	font-size: 2rem;
	font-weight: 500;
	margin-top: 1.5rem;
	
	
}
.Paragraph{
	background-color: white;
}
.Quote{
	background-color: white;
	border-left: 8px solid black;
	font-size: 1.5rem;
	padding-left: 10px;
}

.gridhand{
	position: absolute;
    left: -15px;
    top: 3px;
    width: 18px;
    height: 24px;
}
.gridhand img{
	height: 1rem;
    width: 1rem;
  
   
}
.gridhand:hover{
	opacity: 1;

}